<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Cache-Control" />
        <remove name="Pragma" />
        <remove name="Expires" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Static Privacy" stopProcessing="true">
          <match url="^privacy/?$" />
          <action type="Rewrite" url="/privacy.html" />
        </rule>
        <rule name="Static Terms" stopProcessing="true">
          <match url="^terms/?$" />
          <action type="Rewrite" url="/terms.html" />
        </rule>
        <rule name="Static Consent" stopProcessing="true">
          <match url="^consent/?$" />
          <action type="Rewrite" url="/consent.html" />
        </rule>
        <rule name="Static SMS Program" stopProcessing="true">
          <match url="^sms-program/?$" />
          <action type="Rewrite" url="/sms-program.html" />
        </rule>
        <rule name="Static SMS Messaging" stopProcessing="true">
          <match url="^sms-messaging/?$" />
          <action type="Rewrite" url="/sms-messaging.html" />
        </rule>
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
